{
    "openapi": "3.0.0",
    "info": {
        "title": "shippingNET PublicApi Shipment Service",
        "version": "1.0",
        "x-logo": {
            "url": "https://shippingnet03.ondot.at/WOG/DataService/node/assets/shippingnet-logo-openapi.png",
            "altText": "shipping.NET logo",
            "backgroundColor": "#3B3B41",
            "href": "https://www.ondot.at"
        }
    },
    "servers": [
        {
            "url": "https://shippingnet03.ondot.at/WOG/DataService/PublicApi/v1/Shipment"
        }
    ],
    "security": [
        {
            "clientID": [],
            "orgUnitID": [],
            "authToken": []
        }
    ],
    "paths": {
        "/import": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/importResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "description": "Import shipment",
                "operationId": "import",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/importRequest"
                            }
                        }
                    }
                }
            }
        },
        "/importPreview": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/importPreviewResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "description": "Sendungsvorschau - Die Sendung wird dabei nicht angelegt",
                "operationId": "importPreview",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/importPreviewRequest"
                            }
                        }
                    }
                }
            }
        },
        "/importForLabel": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/importForLabelResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "description": "Import shipment and receive labels",
                "operationId": "importForLabel",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/importForLabelRequest"
                            }
                        }
                    }
                }
            }
        },
        "/importStatus": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/importStatusResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "description": "",
                "operationId": "importStatus",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/importStatusRequest"
                            }
                        }
                    }
                }
            }
        },
        "/generateLabel": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/generateLabelResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "description": "",
                "operationId": "generateLabel",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/generateLabelRequest"
                            }
                        }
                    }
                }
            }
        },
        "/retrieve": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/retrieveResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "description": "",
                "operationId": "retrieve",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/retrieveRequest"
                            }
                        }
                    }
                }
            }
        },
        "/statusRetrieve": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/statusRetrieveResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "description": "",
                "operationId": "statusRetrieve",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/statusRetrieveRequest"
                            }
                        }
                    }
                }
            }
        },
        "/addDocument": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/addDocumentResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "description": "",
                "operationId": "addDocument",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/addDocumentRequest"
                            }
                        }
                    }
                }
            }
        },
        "/dailyClosing": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/dailyClosingResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "description": "Create daily closing for a provided carrier",
                "operationId": "dailyClosing",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/dailyClosingRequest"
                            }
                        }
                    }
                }
            }
        },
        "/priceInfo": {
            "post": {
                "responses": {
                    "200": {
                        "description": "OK",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "$ref": "#/components/schemas/priceInfoResponse"
                                }
                            }
                        }
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalError"
                    }
                },
                "description": "Liefert die Frächterkosten für eine Sendung zurück, die Sendung wird dabei nicht angelegt",
                "operationId": "priceInfo",
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/priceInfoRequest"
                            }
                        }
                    }
                }
            }
        }
    },
    "components": {
        "responses": {
            "InternalError": {
                "description": "Internal error",
                "content": {
                    "application/json": {
                        "schema": {
                            "$ref": "#/components/schemas/InternalError"
                        }
                    }
                }
            }
        },
        "schemas": {
            "InternalError": {
                "type": "object",
                "properties": {
                    "ExceptionCode": {
                        "type": "string"
                    },
                    "ExceptionType": {
                        "type": "string"
                    },
                    "ExceptionMessage": {
                        "type": "string"
                    },
                    "Source": {
                        "type": "string"
                    }
                }
            },
            "Date": {
                "type": "string",
                "format": "date-time",
                "example": "2017-07-21T17:32:28Z"
            },
            "Decimal": {
                "type": "number"
            },
            "AccountingPartyType": {
                "type": "string",
                "enum": [
                    "Customer",
                    "DeliveryCarrier",
                    "PickupCarrier",
                    "SubCarrier"
                ]
            },
            "BookingType": {
                "type": "string",
                "enum": [
                    "Costs",
                    "Revenue"
                ]
            },
            "AccountingDetailsRecord": {
                "type": "object",
                "properties": {
                    "ServiceTypeName": {
                        "type": "string"
                    },
                    "NetAmount": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Decimal"
                            }
                        ]
                    },
                    "GrossAmount": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Decimal"
                            }
                        ]
                    },
                    "ManualInputReason": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "ServiceTypeName"
                ]
            },
            "AccountingDetailsCalculationBase": {
                "type": "object",
                "properties": {
                    "Name": {
                        "type": "string"
                    },
                    "Value": {
                        "$ref": "#/components/schemas/Decimal"
                    }
                },
                "required": [
                    "Name",
                    "Value"
                ]
            },
            "AccountingDetailsParty": {
                "type": "object",
                "properties": {
                    "PartyType": {
                        "$ref": "#/components/schemas/AccountingPartyType"
                    },
                    "BookingType": {
                        "$ref": "#/components/schemas/BookingType"
                    },
                    "NetAmount": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Decimal"
                            }
                        ]
                    },
                    "GrossAmount": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Decimal"
                            }
                        ]
                    },
                    "RecordList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AccountingDetailsRecord"
                        }
                    },
                    "CalculationBaseList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AccountingDetailsCalculationBase"
                        }
                    }
                },
                "required": [
                    "PartyType",
                    "BookingType",
                    "RecordList",
                    "CalculationBaseList"
                ]
            },
            "AccountingDetails": {
                "type": "object",
                "properties": {
                    "CostsNetAmount": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Decimal"
                            }
                        ]
                    },
                    "CostsGrossAmount": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Decimal"
                            }
                        ]
                    },
                    "RevenueNetAmount": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Decimal"
                            }
                        ]
                    },
                    "RevenueGrossAmount": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Decimal"
                            }
                        ]
                    },
                    "PartyList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/AccountingDetailsParty"
                        }
                    }
                },
                "required": [
                    "PartyList"
                ]
            },
            "ShipmentImportResult": {
                "type": "object",
                "properties": {
                    "ID": {
                        "type": "number",
                        "nullable": true
                    },
                    "Number": {
                        "type": "string",
                        "nullable": true
                    },
                    "TrackingNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "DeliveryCarrierID": {
                        "type": "number",
                        "nullable": true
                    },
                    "DeliveryCarrier": {
                        "type": "string",
                        "nullable": true
                    },
                    "DeliveryServiceID": {
                        "type": "number",
                        "nullable": true
                    },
                    "DeliveryService": {
                        "type": "string",
                        "nullable": true
                    },
                    "DeliveryServiceThirdPartyID": {
                        "type": "string",
                        "nullable": true
                    },
                    "PickupCarrierID": {
                        "type": "number",
                        "nullable": true
                    },
                    "PickupCarrier": {
                        "type": "string",
                        "nullable": true
                    },
                    "DeliveryDateTimeFrom": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Date"
                            }
                        ]
                    },
                    "DeliveryDateTimeTo": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Date"
                            }
                        ]
                    },
                    "DurationInDays": {
                        "type": "number",
                        "nullable": true
                    },
                    "CustomerDispatchType": {
                        "type": "string",
                        "nullable": true
                    },
                    "CustomerDispatchTypeThirdPartyID": {
                        "type": "string",
                        "nullable": true
                    },
                    "ErrorMessage": {
                        "type": "string",
                        "nullable": true
                    },
                    "AccountingDetails": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/AccountingDetails"
                            }
                        ]
                    }
                }
            },
            "ColloImportResult": {
                "type": "object",
                "properties": {
                    "ID": {
                        "type": "number",
                        "nullable": true
                    },
                    "Number": {
                        "type": "string",
                        "nullable": true
                    },
                    "TrackingNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "CarrierID": {
                        "type": "number",
                        "nullable": true
                    },
                    "Reference1": {
                        "type": "string",
                        "nullable": true
                    },
                    "Reference2": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "ShipmentImportResponse": {
                "type": "object",
                "properties": {
                    "Shipment": {
                        "$ref": "#/components/schemas/ShipmentImportResult"
                    },
                    "ColloList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ColloImportResult"
                        },
                        "nullable": true
                    },
                    "ReturnShipment": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ShipmentImportResult"
                            }
                        ]
                    },
                    "ReturnColloList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ColloImportResult"
                        },
                        "nullable": true
                    }
                },
                "required": [
                    "Shipment"
                ]
            },
            "importResponse": {
                "$ref": "#/components/schemas/ShipmentImportResponse"
            },
            "OrgUnitReference": {
                "type": "object",
                "description": "Zur Verwendung muss entweder ID oder BusinessPartnerNumber befüllt sein",
                "properties": {
                    "ID": {
                        "type": "number",
                        "nullable": true
                    },
                    "BusinessPartnerNumber": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ApiAddress": {
                "type": "object",
                "properties": {
                    "Name1": {
                        "type": "string"
                    },
                    "Name2": {
                        "type": "string",
                        "nullable": true
                    },
                    "Name3": {
                        "type": "string",
                        "nullable": true
                    },
                    "Name4": {
                        "type": "string",
                        "nullable": true
                    },
                    "AddressLine1": {
                        "type": "string"
                    },
                    "HouseNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "AddressLine2": {
                        "type": "string",
                        "nullable": true
                    },
                    "PostalCode": {
                        "type": "string",
                        "nullable": true
                    },
                    "ProvinceCode": {
                        "type": "string",
                        "nullable": true
                    },
                    "City": {
                        "type": "string"
                    },
                    "GLN": {
                        "type": "string",
                        "nullable": true
                    },
                    "EORINumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "CountryID": {
                        "type": "string",
                        "description": "ISO-2-Code"
                    },
                    "Tel1": {
                        "type": "string",
                        "nullable": true
                    },
                    "Tel2": {
                        "type": "string",
                        "nullable": true
                    },
                    "Email": {
                        "type": "string",
                        "nullable": true
                    },
                    "AddressCategoryID": {
                        "type": "string",
                        "enum": [
                            "COM",
                            "CON",
                            "PRI",
                            "PSH",
                            "PST",
                            "WAR"
                        ],
                        "nullable": true
                    }
                },
                "required": [
                    "Name1",
                    "AddressLine1",
                    "City",
                    "CountryID"
                ]
            },
            "ApiThirdPartyApplication": {
                "type": "object",
                "properties": {
                    "ThirdPartyApplicationID": {
                        "type": "number",
                        "nullable": true
                    },
                    "ReferenceID": {
                        "type": "string"
                    },
                    "UName": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "ReferenceID"
                ]
            },
            "TaxLiabilityType": {
                "type": "string",
                "enum": [
                    "CompanyWithVATID",
                    "CompanyWithoutVATID",
                    "PrivatePerson",
                    "TaxExempt",
                    "TransportCompanyWithVATID"
                ]
            },
            "ApiAccount": {
                "type": "object",
                "properties": {
                    "Number": {
                        "type": "string"
                    },
                    "Name": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "Number"
                ]
            },
            "ApiOrgUnitAccounting": {
                "type": "object",
                "properties": {
                    "CreditorAccount": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ApiAccount"
                            }
                        ]
                    },
                    "DebitorAccount": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ApiAccount"
                            }
                        ]
                    }
                }
            },
            "ApiOrgUnit": {
                "type": "object",
                "properties": {
                    "Name": {
                        "type": "string",
                        "nullable": true
                    },
                    "Address": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ApiAddress"
                            }
                        ]
                    },
                    "BusinessPartnerNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "ThirdPartyApplicationList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiThirdPartyApplication"
                        },
                        "nullable": true
                    },
                    "VATID": {
                        "type": "string",
                        "description": "Umsatzsteuernummer",
                        "nullable": true
                    },
                    "TaxLiabilityType": {
                        "description": "Steuerpflichtigkeit",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/TaxLiabilityType"
                            }
                        ],
                        "nullable": true
                    },
                    "Accounting": {
                        "description": "Verrechnungsinformationen",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ApiOrgUnitAccounting"
                            }
                        ],
                        "nullable": true
                    }
                }
            },
            "ApiContactPerson": {
                "type": "object",
                "properties": {
                    "FirstName": {
                        "type": "string"
                    },
                    "LastName": {
                        "type": "string"
                    },
                    "Title": {
                        "type": "string",
                        "nullable": true
                    },
                    "Email": {
                        "type": "string",
                        "nullable": true
                    },
                    "Phone": {
                        "type": "string",
                        "nullable": true
                    },
                    "MobilePhone": {
                        "type": "string",
                        "nullable": true
                    },
                    "Fax": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "FirstName",
                    "LastName"
                ]
            },
            "DispatchTypeV1": {
                "type": "string",
                "enum": [
                    "Package",
                    "Piece of Good",
                    "Full Load",
                    "Special Transport",
                    "Relocation",
                    "Document",
                    "Container Transport",
                    "Key customer",
                    "Return Shipment",
                    "Pallet pickup"
                ]
            },
            "InsuranceType": {
                "type": "string",
                "enum": [
                    "None",
                    "Standard",
                    "PlusValue",
                    "OwnCoverage"
                ]
            },
            "BulkyGoodsType": {
                "type": "string",
                "enum": [
                    "Small",
                    "Big"
                ]
            },
            "RefrigeratedCargoType": {
                "type": "string",
                "enum": [
                    "TransportWarehouse",
                    "Transport",
                    "Warehouse"
                ]
            },
            "RefrigeratedCargo": {
                "type": "string",
                "enum": [
                    "FrozenGoods",
                    "ChilledGoods",
                    "RoomTemperature",
                    "DryIce"
                ]
            },
            "IDReference": {
                "type": "object",
                "properties": {
                    "ID": {
                        "type": "number"
                    }
                },
                "required": [
                    "ID"
                ],
                "additionalProperties": false
            },
            "ArticleReference": {
                "type": "object",
                "properties": {
                    "Number": {
                        "type": "string"
                    },
                    "Customer": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/OrgUnitReference"
                            }
                        ]
                    },
                    "Owner": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/OrgUnitReference"
                            }
                        ]
                    }
                },
                "required": [
                    "Number"
                ],
                "additionalProperties": false
            },
            "IDNameNumberReference": {
                "type": "object",
                "description": "Zur Verwendung muss eines der drei Felder befüllt sein",
                "properties": {
                    "ID": {
                        "type": "number",
                        "nullable": true
                    },
                    "Name": {
                        "type": "string",
                        "nullable": true
                    },
                    "Number": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "StringIDNameReference": {
                "type": "object",
                "description": "Zur Verwendung muss entweder ID oder Name befüllt sein",
                "properties": {
                    "ID": {
                        "type": "string",
                        "nullable": true
                    },
                    "Name": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "UserMatchingData": {
                "type": "object",
                "properties": {
                    "UserID": {
                        "type": "string",
                        "nullable": true
                    },
                    "UserName": {
                        "type": "string",
                        "nullable": true
                    },
                    "Firstname": {
                        "type": "string",
                        "nullable": true
                    },
                    "Lastname": {
                        "type": "string",
                        "nullable": true
                    },
                    "Email": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "PickingOperation": {
                "type": "string",
                "enum": [
                    "FIFO-optimized",
                    "FEFO-optimized"
                ]
            },
            "PickingOptimization": {
                "type": "string",
                "enum": [
                    "Free location-optimized",
                    "Pick-optimized (Article preferred)",
                    "Pick-optimized (Collo preferred)"
                ]
            },
            "ApiArticlePart": {
                "type": "object",
                "properties": {
                    "Child": {
                        "$ref": "#/components/schemas/ApiArticle"
                    },
                    "Quantity": {
                        "type": "number"
                    }
                },
                "required": [
                    "Child",
                    "Quantity"
                ]
            },
            "ApiArticlePackageType": {
                "type": "object",
                "properties": {
                    "PackageType": {
                        "$ref": "#/components/schemas/StringIDNameReference"
                    },
                    "SystemUnitQuantity": {
                        "type": "number",
                        "nullable": true
                    },
                    "GrossWeight": {
                        "type": "number",
                        "nullable": true
                    },
                    "NetWeight": {
                        "type": "number",
                        "nullable": true
                    },
                    "Length": {
                        "type": "number",
                        "nullable": true
                    },
                    "Width": {
                        "type": "number",
                        "nullable": true
                    },
                    "Height": {
                        "type": "number",
                        "nullable": true
                    },
                    "Volume": {
                        "type": "number",
                        "nullable": true
                    },
                    "Tare": {
                        "type": "number",
                        "nullable": true
                    },
                    "IsUsedForGoodsReceipt": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "IsUsedForPicking": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "IsUsedForCompleteColloPicking": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "IsUsedForSupplyManagement": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "Barcode": {
                        "type": "string",
                        "nullable": true
                    },
                    "AssemblyTime": {
                        "type": "number",
                        "nullable": true
                    },
                    "StackingFactor": {
                        "type": "number",
                        "nullable": true
                    }
                },
                "required": [
                    "PackageType"
                ]
            },
            "IDNameReference": {
                "type": "object",
                "description": "Zur Verwendung muss entweder ID oder Name befüllt sein",
                "properties": {
                    "ID": {
                        "type": "number",
                        "nullable": true
                    },
                    "Name": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "PartyType": {
                "type": "string",
                "enum": [
                    "Customer",
                    "Alternative",
                    "Manufacturer",
                    "Supplier",
                    "System"
                ]
            },
            "ApiArticleCode": {
                "type": "object",
                "properties": {
                    "Code": {
                        "type": "string"
                    },
                    "NumberType": {
                        "$ref": "#/components/schemas/IDNameReference"
                    },
                    "PartyTypeID": {
                        "$ref": "#/components/schemas/PartyType"
                    },
                    "PartyOrgUnit": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/OrgUnitReference"
                            }
                        ]
                    }
                },
                "required": [
                    "Code",
                    "NumberType",
                    "PartyTypeID"
                ]
            },
            "ApiArticleCustomsInformation": {
                "type": "object",
                "properties": {
                    "CountryID": {
                        "type": "string"
                    },
                    "TariffNumber": {
                        "type": "string"
                    }
                },
                "required": [
                    "CountryID",
                    "TariffNumber"
                ]
            },
            "ApiArticleString": {
                "type": "object",
                "properties": {
                    "LanguageID": {
                        "type": "string",
                        "description": "Sprache, ISO-639-1-Code"
                    },
                    "Name": {
                        "type": "string",
                        "description": "Artikelname in der Sprache",
                        "nullable": true
                    },
                    "Description": {
                        "type": "string",
                        "description": "Artikelbeschreibung in der Sprache",
                        "nullable": true
                    },
                    "Operation": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "LanguageID"
                ]
            },
            "ApiArticleWarehouseWorkInstructionType": {
                "type": "object",
                "properties": {
                    "TriggerEvent": {
                        "type": "string",
                        "enum": [
                            "GoodsIssue",
                            "GoodsReceipt"
                        ],
                        "description": "Auslöser der Arbeitsanweisung"
                    },
                    "WorkInstruction": {
                        "$ref": "#/components/schemas/IDNameReference"
                    }
                },
                "required": [
                    "TriggerEvent",
                    "WorkInstruction"
                ]
            },
            "DangerousGoodsReference": {
                "type": "object",
                "properties": {
                    "ID": {
                        "type": "number",
                        "nullable": true
                    },
                    "Number": {
                        "type": "string",
                        "nullable": true
                    },
                    "Name": {
                        "type": "string",
                        "nullable": true
                    },
                    "ThirdPartyID": {
                        "type": "string",
                        "nullable": true
                    },
                    "PackingGroup": {
                        "type": "string",
                        "nullable": true
                    },
                    "TransportCategory": {
                        "type": "string",
                        "nullable": true
                    },
                    "ClassificationCode": {
                        "type": "string",
                        "nullable": true
                    },
                    "ADRRevision": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ApiArticleDangerousGoods": {
                "type": "object",
                "properties": {
                    "DangerousGoodsType": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/DangerousGoodsReference"
                            }
                        ]
                    },
                    "QtyPackageType": {
                        "type": "number",
                        "nullable": true
                    },
                    "PackageTypeID": {
                        "type": "string",
                        "nullable": true
                    },
                    "IsWarehouseDangerousGoods": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "IsTransportationDangerousGoods": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "IsDangerousGoodsLimitedQuantity": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "DangerousGoodsDescription": {
                        "type": "string",
                        "nullable": true
                    },
                    "Mass": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Decimal"
                            }
                        ]
                    },
                    "UnitID": {
                        "type": "string",
                        "nullable": true
                    },
                    "NetExplosiveMass": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Decimal"
                            }
                        ]
                    },
                    "FlashPoint": {
                        "type": "number",
                        "nullable": true
                    },
                    "IsAccessible": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "IsCargoAirOnly": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "IsExceptedQuantity": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "IsEnvironmentallyHazardous": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "IsMarinePolluting": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "IsWaste": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "EuropeanWasteCode": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "ApiArticle": {
                "type": "object",
                "properties": {
                    "ID": {
                        "type": "number",
                        "nullable": true
                    },
                    "Number": {
                        "type": "string"
                    },
                    "Name": {
                        "type": "string"
                    },
                    "Description": {
                        "type": "string",
                        "nullable": true
                    },
                    "PackingInstructions": {
                        "type": "string",
                        "nullable": true
                    },
                    "ArticleGroup": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/IDNameNumberReference"
                            }
                        ]
                    },
                    "ProductGroup": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/IDNameNumberReference"
                            }
                        ]
                    },
                    "Active": {
                        "type": "boolean",
                        "description": "Um Artikel zu deaktivieren, Default: True",
                        "nullable": true
                    },
                    "CountryOfOriginID": {
                        "type": "string",
                        "description": "Herstellungsland, ISO-2-Code",
                        "nullable": true
                    },
                    "HSTariffNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "SystemUnitID": {
                        "type": "string",
                        "nullable": true
                    },
                    "SystemUnitNetWeight": {
                        "type": "number",
                        "description": "Nettogewicht pro Systemeinheit",
                        "nullable": true
                    },
                    "DefaultGoodsReceiptPackageType": {
                        "description": "Standard-Lademittel für Wareneingang",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/StringIDNameReference"
                            }
                        ],
                        "nullable": true
                    },
                    "DefaultGoodsIssuePackageType": {
                        "description": "Standard-Lademittel für Warenausgang",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/StringIDNameReference"
                            }
                        ],
                        "nullable": true
                    },
                    "Customer": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/OrgUnitReference"
                            }
                        ]
                    },
                    "Owner": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/OrgUnitReference"
                            }
                        ]
                    },
                    "Supplier": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/OrgUnitReference"
                            }
                        ]
                    },
                    "ProductManager": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/UserMatchingData"
                            }
                        ]
                    },
                    "SerialNumberRequirementMode": {
                        "type": "string",
                        "enum": [
                            "optional",
                            "required",
                            "optionalRequiredOnPacking",
                            "requiredOnPacking",
                            "immutable"
                        ],
                        "nullable": true
                    },
                    "SerialNumberRequiredOnPacking": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "ChargeRequirementMode": {
                        "type": "string",
                        "enum": [
                            "optional",
                            "required",
                            "optionalRequiredOnPacking",
                            "requiredOnPacking",
                            "immutable"
                        ],
                        "nullable": true
                    },
                    "ChargeRequiredOnPacking": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "BestBeforeDateRequirementMode": {
                        "type": "string",
                        "enum": [
                            "optional",
                            "required",
                            "optionalRequiredOnPacking",
                            "requiredOnPacking",
                            "immutable"
                        ],
                        "nullable": true
                    },
                    "BestBeforeDateRequiredOnPacking": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "ExpirationDateRequirementMode": {
                        "type": "string",
                        "enum": [
                            "optional",
                            "required",
                            "optionalRequiredOnPacking",
                            "requiredOnPacking",
                            "immutable"
                        ],
                        "nullable": true
                    },
                    "ExpirationDateRequiredOnPacking": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "VariantCode1RequirementMode": {
                        "type": "string",
                        "enum": [
                            "optional",
                            "required",
                            "optionalRequiredOnPacking",
                            "requiredOnPacking",
                            "immutable"
                        ],
                        "nullable": true
                    },
                    "VariantCode1RequiredOnPacking": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "VariantCode2RequirementMode": {
                        "type": "string",
                        "enum": [
                            "optional",
                            "required",
                            "optionalRequiredOnPacking",
                            "requiredOnPacking",
                            "immutable"
                        ],
                        "nullable": true
                    },
                    "VariantCode2RequiredOnPacking": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "VariantCode3RequirementMode": {
                        "type": "string",
                        "enum": [
                            "optional",
                            "required",
                            "optionalRequiredOnPacking",
                            "requiredOnPacking",
                            "immutable"
                        ],
                        "nullable": true
                    },
                    "VariantCode3RequiredOnPacking": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "VariantCode4RequirementMode": {
                        "type": "string",
                        "enum": [
                            "optional",
                            "required",
                            "optionalRequiredOnPacking",
                            "requiredOnPacking",
                            "immutable"
                        ],
                        "nullable": true
                    },
                    "VariantCode4RequiredOnPacking": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "VariantQuantityRequirementMode": {
                        "type": "string",
                        "enum": [
                            "optional",
                            "required",
                            "optionalRequiredOnPacking",
                            "requiredOnPacking",
                            "immutable"
                        ],
                        "nullable": true
                    },
                    "VariantQuantityRequiredOnPacking": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "VariantQuantityUnitID": {
                        "type": "string",
                        "nullable": true
                    },
                    "VariantQuantityAllowedNumberOfDecimalPlaces": {
                        "type": "number",
                        "nullable": true
                    },
                    "RequireScanOnArticleWarehouseTransports": {
                        "type": "boolean",
                        "description": "Gibt an ob der Artikel bei Artikel Fahrbefehlen gescannt werden muss",
                        "nullable": true
                    },
                    "CompleteColloOnly": {
                        "type": "boolean",
                        "description": "Nur Ganzpaletten-Entnahme für diesen Artikel",
                        "nullable": true
                    },
                    "PickingOperation": {
                        "description": "Entnahmeverfahren",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/PickingOperation"
                            }
                        ],
                        "nullable": true
                    },
                    "PickingOptimization": {
                        "description": "Optimierungsverfahren",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/PickingOptimization"
                            }
                        ],
                        "nullable": true
                    },
                    "ShelfLifeInDays": {
                        "type": "number",
                        "description": "Haltbarkeit in Tagen",
                        "nullable": true
                    },
                    "LockDaysBeforeExpiration": {
                        "type": "number",
                        "description": "Artikel sperren X-Tage bevor die Haltbarkeit endet",
                        "nullable": true
                    },
                    "SalesPricePerUnit": {
                        "type": "number",
                        "description": "Verkaufspreis",
                        "nullable": true
                    },
                    "SalesCurrencyID": {
                        "type": "string",
                        "description": "Währung des Verkaufspreises",
                        "nullable": true
                    },
                    "InternalSalesPricePerUnit": {
                        "type": "number",
                        "description": "interner Verkaufspreis",
                        "nullable": true
                    },
                    "InternalSalesCurrencyID": {
                        "type": "string",
                        "description": "Währung des internen Verkaufspreises",
                        "nullable": true
                    },
                    "ValueOfGoodsPerUnit": {
                        "type": "number",
                        "description": "Warenwert",
                        "nullable": true
                    },
                    "ValueOfGoodsCurrencyID": {
                        "type": "string",
                        "description": "Währung des Warenwerts",
                        "nullable": true
                    },
                    "IsInventoryTracked": {
                        "type": "boolean",
                        "description": "Bestandsgeführt, Default: true",
                        "nullable": true
                    },
                    "RefrigeratedCargoType": {
                        "description": "Kühlgutart",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/RefrigeratedCargoType"
                            }
                        ],
                        "nullable": true
                    },
                    "RefrigeratedCargoTemperatureType": {
                        "description": "Kühlgut-Temperatur",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/RefrigeratedCargo"
                            }
                        ],
                        "nullable": true
                    },
                    "IsBulkyGoods": {
                        "type": "boolean",
                        "description": "Sperrgut",
                        "nullable": true
                    },
                    "IsNarcoticGoods": {
                        "type": "boolean",
                        "description": "Suchtmittel",
                        "nullable": true
                    },
                    "IsDangerousGoods": {
                        "type": "boolean",
                        "description": "Gefahrgut",
                        "nullable": true
                    },
                    "IsFragileGoods": {
                        "type": "boolean",
                        "description": "Zerbrechlich",
                        "nullable": true
                    },
                    "IsOrganic": {
                        "type": "boolean",
                        "description": "BIO-Artikel",
                        "nullable": true
                    },
                    "ChildList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiArticlePart"
                        },
                        "description": "Unterartikel",
                        "nullable": true
                    },
                    "PackageTypeList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiArticlePackageType"
                        },
                        "description": "Lademittel",
                        "nullable": true
                    },
                    "CodeList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiArticleCode"
                        },
                        "description": "Zusätzliche Barcodes",
                        "nullable": true
                    },
                    "CustomsInformationList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiArticleCustomsInformation"
                        },
                        "description": "Zoll-Informationen pro Land",
                        "nullable": true
                    },
                    "TranslationList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiArticleString"
                        },
                        "description": "Übersetzungen von Artikelname & -Beschreibung",
                        "nullable": true
                    },
                    "WarehouseWorkInstructionTypeList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiArticleWarehouseWorkInstructionType"
                        },
                        "description": "Lager-Arbeitsanweisungen",
                        "nullable": true
                    },
                    "DangerousGoodsList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiArticleDangerousGoods"
                        },
                        "nullable": true
                    },
                    "ABCCategory": {
                        "type": "string",
                        "description": "ABC Kategorie",
                        "nullable": true
                    },
                    "IsMedicine": {
                        "type": "boolean",
                        "description": "Medizin",
                        "nullable": true
                    },
                    "IsBiocide": {
                        "type": "boolean",
                        "description": "Biozid",
                        "nullable": true
                    },
                    "UprightTransportOnly": {
                        "type": "boolean",
                        "description": "Artikel muss stehend transportiert werden",
                        "nullable": true
                    }
                },
                "required": [
                    "Number",
                    "Name"
                ]
            },
            "CustomsOption": {
                "type": "string",
                "enum": [
                    "Default",
                    "Gift",
                    "Documents",
                    "CommercialSample",
                    "ReturnOfGoods",
                    "FaultyItem",
                    "ExhibitionTradeShowGoods",
                    "ForRepair",
                    "FollowingRepair",
                    "RejectedItem",
                    "ObjectedItem",
                    "ReplacementItem",
                    "SaleOfGoods",
                    "Other"
                ]
            },
            "ApiColloArticle": {
                "type": "object",
                "properties": {
                    "Article": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/IDReference"
                            },
                            {
                                "$ref": "#/components/schemas/ArticleReference"
                            },
                            {
                                "$ref": "#/components/schemas/ApiArticle"
                            }
                        ]
                    },
                    "Quantity": {
                        "type": "number",
                        "nullable": true
                    },
                    "CustomsOption": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/CustomsOption"
                            }
                        ]
                    },
                    "ValueOfGoodsCurrencyID": {
                        "type": "string",
                        "nullable": true
                    },
                    "ValueOfGoodsPerUnit": {
                        "type": "number",
                        "nullable": true
                    },
                    "SerialNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "Charge": {
                        "type": "string",
                        "nullable": true
                    },
                    "BestBeforeDate": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Date"
                            }
                        ]
                    },
                    "ExpirationDate": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Date"
                            }
                        ]
                    },
                    "VariantCode1": {
                        "type": "string",
                        "nullable": true
                    },
                    "VariantCode2": {
                        "type": "string",
                        "nullable": true
                    },
                    "VariantCode3": {
                        "type": "string",
                        "nullable": true
                    },
                    "VariantCode4": {
                        "type": "string",
                        "nullable": true
                    },
                    "VariantQuantity": {
                        "type": "number",
                        "nullable": true
                    }
                },
                "required": [
                    "Article"
                ]
            },
            "ApiOrderPosCollo": {
                "type": "object",
                "properties": {
                    "OrderPosID": {
                        "type": "number"
                    },
                    "QuantityPacked": {
                        "type": "number"
                    },
                    "SerialNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "Charge": {
                        "type": "string",
                        "nullable": true
                    },
                    "BestBeforeDate": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Date"
                            }
                        ]
                    },
                    "ExpirationDate": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Date"
                            }
                        ]
                    },
                    "VariantCode1": {
                        "type": "string",
                        "nullable": true
                    },
                    "VariantCode2": {
                        "type": "string",
                        "nullable": true
                    },
                    "VariantCode3": {
                        "type": "string",
                        "nullable": true
                    },
                    "VariantCode4": {
                        "type": "string",
                        "nullable": true
                    },
                    "VariantQuantity": {
                        "type": "number",
                        "nullable": true
                    }
                },
                "required": [
                    "OrderPosID",
                    "QuantityPacked"
                ]
            },
            "ApiShipmentColloDangerousGoods": {
                "type": "object",
                "properties": {
                    "QtyPackageType": {
                        "type": "number",
                        "nullable": true
                    },
                    "PackageTypeID": {
                        "type": "string",
                        "nullable": true
                    },
                    "DangerousGoodsType": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/DangerousGoodsReference"
                            }
                        ]
                    },
                    "DangerousGoodsTypeID": {
                        "type": "number",
                        "nullable": true
                    },
                    "DangerousGoodsTypeNumber": {
                        "type": "number",
                        "nullable": true
                    },
                    "DangerousGoodsTypeName": {
                        "type": "string",
                        "nullable": true
                    },
                    "DangerousGoodsTypeThirdPartyID": {
                        "type": "string",
                        "nullable": true
                    },
                    "IsDangerousGoodsLimitedQuantity": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "DangerousGoodsDescription": {
                        "type": "string",
                        "nullable": true
                    },
                    "Mass": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Decimal"
                            }
                        ]
                    },
                    "UnitID": {
                        "type": "string",
                        "nullable": true
                    },
                    "NetExplosiveMass": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Decimal"
                            }
                        ]
                    },
                    "FlashPoint": {
                        "type": "number",
                        "nullable": true
                    },
                    "IsAccessible": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "IsCargoAirOnly": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "IsExceptedQuantity": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "IsEnvironmentallyHazardous": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "IsMarinePolluting": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "IsWaste": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "EuropeanWasteCode": {
                        "type": "string",
                        "nullable": true
                    },
                    "EmergencyNumber": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "ApiColloShipmentCode": {
                "type": "object",
                "properties": {
                    "Code": {
                        "type": "string"
                    },
                    "NumberTypeName": {
                        "type": "string",
                        "nullable": true
                    },
                    "NumberTypeID": {
                        "type": "number",
                        "nullable": true
                    }
                },
                "required": [
                    "Code"
                ]
            },
            "ApiCollo": {
                "type": "object",
                "properties": {
                    "DisplayNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "PackageTypeID": {
                        "type": "string",
                        "nullable": true
                    },
                    "QtyPackageType": {
                        "type": "number",
                        "nullable": true
                    },
                    "Weight": {
                        "type": "number",
                        "nullable": true
                    },
                    "NetWeight": {
                        "type": "number",
                        "nullable": true
                    },
                    "Volume": {
                        "type": "number",
                        "nullable": true
                    },
                    "Length": {
                        "type": "number",
                        "nullable": true
                    },
                    "Width": {
                        "type": "number",
                        "nullable": true
                    },
                    "Height": {
                        "type": "number",
                        "nullable": true
                    },
                    "Reference1": {
                        "type": "string",
                        "nullable": true
                    },
                    "Reference2": {
                        "type": "string",
                        "nullable": true
                    },
                    "IsDangerousGoods": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "IsDangerousGoodsLimitedQuantity": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "NarcoticGoods": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "BulkyGoodsType": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/BulkyGoodsType"
                            }
                        ]
                    },
                    "FragileGoods": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "RefrigeratedCargoType": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/RefrigeratedCargoType"
                            }
                        ]
                    },
                    "RefrigeratedCargoTemperatureType": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/RefrigeratedCargo"
                            }
                        ]
                    },
                    "GoodsDescription": {
                        "type": "string",
                        "nullable": true
                    },
                    "ArticleList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiColloArticle"
                        },
                        "nullable": true
                    },
                    "OrderPosID": {
                        "type": "number",
                        "description": "Falls es nur eine einzige OrderPos gibt, ansonsten OrderPosList verwenden",
                        "nullable": true
                    },
                    "OrderPosList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiOrderPosCollo"
                        },
                        "nullable": true
                    },
                    "DangerousGoodsList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiShipmentColloDangerousGoods"
                        },
                        "nullable": true
                    },
                    "CodeList": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiColloShipmentCode"
                        },
                        "nullable": true
                    },
                    "Children": {
                        "type": "array",
                        "items": {
                            "$ref": "#/components/schemas/ApiCollo"
                        },
                        "nullable": true
                    },
                    "ID": {
                        "type": "number",
                        "nullable": true
                    },
                    "Operation": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "ApiAdditionalInformationRow": {
                "type": "object",
                "properties": {
                    "ThirdPartyID": {
                        "type": "string"
                    },
                    "AdditionalField1": {
                        "type": "string",
                        "nullable": true
                    },
                    "AdditionalField2": {
                        "type": "string",
                        "nullable": true
                    },
                    "AdditionalField3": {
                        "type": "string",
                        "nullable": true
                    },
                    "AdditionalField4": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "required": [
                    "ThirdPartyID"
                ]
            },
            "ApiShipmentCustomsAdditionalCost": {
                "type": "object",
                "properties": {
                    "CustomsAdditionalCost": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/IDNameReference"
                            }
                        ]
                    },
                    "Value": {
                        "type": "number",
                        "nullable": true
                    },
                    "CurrencyID": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "ShipmentDocumentType": {
                "type": "string",
                "enum": [
                    "AuthorizationForm",
                    "CommercialInvoice",
                    "CertificateOfOrigin",
                    "ExportAccompanyingDocument",
                    "ExportLicense",
                    "ImportPermit",
                    "OneTimeNAFTA/CO",
                    "OtherDocument",
                    "PowerOfAttorney",
                    "PackingList",
                    "SEDDocument",
                    "ShippersLetterOfInstruction",
                    "Declaration",
                    "Waybill",
                    "ADRDocument",
                    "CustomsDocument",
                    "ProformaInvoice",
                    "DualUse",
                    "DeliveryNote",
                    "EUR.1MovementCertificate",
                    "EUR.2MovementCertificate",
                    "ATRDocument",
                    "InvoiceThirdParty",
                    "T1Document",
                    "T2Document",
                    "ConsularInvoice",
                    "FumigationCertificate",
                    "RadioLicense",
                    "MaterialSafetyDataSheets",
                    "Visa",
                    "PickupDocument"
                ]
            },
            "ApiFile": {
                "type": "object",
                "properties": {
                    "ContentBase64": {
                        "type": "string"
                    },
                    "FileType": {
                        "type": "string",
                        "enum": [
                            "PDF",
                            "PNG",
                            "JPG"
                        ]
                    }
                },
                "required": [
                    "ContentBase64",
                    "FileType"
                ]
            },
            "ApiShipmentDocumentEntry": {
                "type": "object",
                "properties": {
                    "Type": {
                        "$ref": "#/components/schemas/ShipmentDocumentType"
                    },
                    "Quantity": {
                        "type": "number",
                        "nullable": true
                    },
                    "Number": {
                        "type": "string",
                        "nullable": true
                    },
                    "DocumentDate": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Date"
                            }
                        ]
                    },
                    "Comment": {
                        "type": "string",
                        "nullable": true
                    },
                    "Reference1": {
                        "type": "string",
                        "nullable": true
                    },
                    "Reference2": {
                        "type": "string",
                        "nullable": true
                    },
                    "Reference3": {
                        "type": "string",
                        "nullable": true
                    },
                    "ThirdPartyType": {
                        "type": "string",
                        "description": "Dokumenttyp im Fremdsystem",
                        "nullable": true
                    },
                    "File": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ApiFile"
                            }
                        ]
                    }
                },
                "required": [
                    "Type"
                ]
            },
            "ApiShipmentImportEndPointTransportReference": {
                "type": "object",
                "properties": {
                    "Carrier": {
                        "$ref": "#/components/schemas/IDNameReference"
                    },
                    "DispoDate": {
                        "$ref": "#/components/schemas/Date"
                    },
                    "EndPoint": {
                        "$ref": "#/components/schemas/OrgUnitReference"
                    }
                },
                "required": [
                    "Carrier",
                    "DispoDate",
                    "EndPoint"
                ]
            },
            "TransportType": {
                "type": "string",
                "enum": [
                    "Drayage",
                    "ExternalOperated",
                    "FullTruckLoad",
                    "Incoming",
                    "Linehaul",
                    "Outgoing"
                ]
            },
            "TransportAccountingType": {
                "type": "string",
                "enum": [
                    "NotShared",
                    "NotSharedExcludedFromCalculation",
                    "RevenueSharing",
                    "RevenueSharingForOwnedShipments",
                    "RevenueSharingExcludedFromCalculation"
                ]
            },
            "ApiShipmentImportTransport": {
                "type": "object",
                "properties": {
                    "Number": {
                        "type": "string"
                    },
                    "Owner": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/OrgUnitReference"
                            }
                        ]
                    },
                    "Carrier": {
                        "$ref": "#/components/schemas/IDNameReference"
                    },
                    "DispoDate": {
                        "$ref": "#/components/schemas/Date"
                    },
                    "LicenceNumber1": {
                        "type": "string",
                        "nullable": true
                    },
                    "TransportType": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/TransportType"
                            }
                        ]
                    },
                    "AccountingType": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/TransportAccountingType"
                            }
                        ]
                    }
                },
                "required": [
                    "Number",
                    "Carrier",
                    "DispoDate"
                ]
            },
            "ShipmentLinkType": {
                "type": "string",
                "enum": [
                    "ReturnShipment",
                    "SubShipment"
                ]
            },
            "ShipmentReference": {
                "type": "object",
                "properties": {
                    "ID": {
                        "type": "number",
                        "nullable": true
                    },
                    "Number": {
                        "type": "string",
                        "nullable": true
                    },
                    "ShipmentCode": {
                        "type": "string",
                        "nullable": true
                    },
                    "FreightPayerReference1": {
                        "type": "string",
                        "nullable": true
                    },
                    "ShipperReference1": {
                        "type": "string",
                        "nullable": true
                    },
                    "ShipperReference2": {
                        "type": "string",
                        "nullable": true
                    },
                    "ThirdPartyApplicationReference": {
                        "type": "string",
                        "nullable": true
                    },
                    "IsReturnShipment": {
                        "type": "boolean",
                        "description": "Kann nur in Verbindung mit einer anderen Matching-Einschränkung verwendet werden",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "OrderMatchingData": {
                "type": "object",
                "properties": {
                    "ID": {
                        "type": "number",
                        "nullable": true
                    },
                    "Number": {
                        "type": "string",
                        "nullable": true
                    },
                    "ThirdPartyApplicationReference": {
                        "type": "string",
                        "nullable": true
                    }
                }
            },
            "ApiShipmentOrderPos": {
                "type": "object",
                "properties": {
                    "Article": {
                        "oneOf": [
                            {
                                "$ref": "#/components/schemas/IDReference"
                            },
                            {
                                "$ref": "#/components/schemas/ArticleReference"
                            },
                            {
                                "$ref": "#/components/schemas/ApiArticle"
                            }
                        ],
                        "nullable": true
                    },
                    "GenerateColliAutomatic": {
                        "type": "boolean",
                        "nullable": true
                    },
                    "QuantityOrdered": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Decimal"
                            }
                        ]
                    },
                    "QuantityPacked": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Decimal"
                            }
                        ]
                    },
                    "QtyTransportPackageType": {
                        "type": "number",
                        "nullable": true
                    },
                    "PackageTypeID": {
                        "type": "string",
                        "nullable": true
                    },
                    "Sign": {
                        "type": "string",
                        "nullable": true
                    },
                    "Weight": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/Decimal"
                            }
                        ]
                    },
                    "Length": {
                        "type": "number",
                        "nullable": true
                    },
                    "Width": {
                        "type": "number",
                        "nullable": true
                    },
                    "Height": {
                        "type": "number",
                        "nullable": true
                    },
                    "Description": {
                        "type": "string",
                        "nullable": true
                    },
                    "OrderPosNumber": {
                        "type": "string",
                        "nullable": true
                    },
                    "OrderMatching": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/OrderMatchingData"
                            }
                        ]
                    },
                    "ValueOfGoodsCurrencyID": {
                        "type": "string",
                        "nullable": true
                    },
                    "ValueOfGoodsPerUnit": {
                        "type": "number",
                        "nullable": true
                    }
                }
            },
            "IDNameNumberThirdPartyReference": {
                "type": "object",
                "description": "Zur Verwendung muss eines der vier Felder befüllt sein",
                "properties": {
                    "ID": {
                        "type": "number",
                        "nullable": true
                    },
                    "Name": {
                        "type": "string",
                        "nullable": true
                    },
                    "Number": {
                        "type": "string",
                        "nullable": true
                    },
                    "ThirdPartyID": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "IDNameThirdPartyReference": {
                "type": "object",
                "description": "Zur Verwendung muss entweder ID, Name oder ThirdPartyID befüllt sein",
                "properties": {
                    "ID": {
                        "type": "number",
                        "nullable": true
                    },
                    "Name": {
                        "type": "string",
                        "nullable": true
                    },
                    "ThirdPartyID": {
                        "type": "string",
                        "nullable": true
                    }
                },
                "additionalProperties": false
            },
            "ApiShipment": {
                "type": "object",
                "properties": {
                    "Number": {
                        "type": "string",
                        "nullable": true
                    },
                    "Owner": {
                        "description": "Zuständige Abteilung",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/OrgUnitReference"
                            }
                        ],
                        "nullable": true
                    },
                    "Shipper": {
                        "description": "Absender",
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ApiOrgUnit"
                            }
                        ],
                        "nullable": true
                    },
                    "ShipperContactPerson": {
                        "nullable": true,
                        "allOf": [
                            {
                                "$ref": "#/components/schemas/ApiContactPerson"
                            }
                        ]
                    },
                    "Recipient": {
[...]
