node_modules/
dist/
.next/
.env
.env.local
*.log
data/uploads/*
!data/uploads/.gitkeep
data/sftp/*
!data/sftp/.gitkeep
!data/sftp/inbound/
!data/sftp/inbound/.gitkeep
!data/sftp/inbound/**/
!data/sftp/inbound/**/README.txt
!data/sftp/outbound/
!data/sftp/outbound/.gitkeep
coverage/
.turbo/
*.tsbuildinfo
